h1{
    color: #46497D;
    margin: 1px;
    padding-right: 10px;
}

p{
    color: #00FFCB;
    border: solid;
    font-weight: bold;
}

.header{
    background-color: #17D9E4;
    display:flex;
    justify-content:space-evenly;
    
}

.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.footer{
    display:flex;
    justify-content:flex-end;
}

body{
    background-color: #637EBA;
}




